/* font styles  */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared st}yles  */
.cmn-margin{
    max-width: 1140px;
    margin: 120px auto ;
}
.cmn-title{
    font-weight: bold;
    font-size: 3.125rem;
    font-family: "Noto Serif", serif;
    color: #000000;
    margin: 0;
}
.cmn-description{
    color:rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.cmn-btn{
    background-color: #E95A08;
    font-weight: 600;
    color: white;
    padding: 19px 80px;
    border: none;
}
.cmn-fancy-heading{
    color:#E95A08 ;
}
.cmn-color-nav{
    color: #8987A1;
}
/* header styles */

/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar img{
    width: 10%;
}
.navbar ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
}
.home{
    font-weight: bold;
    color: #252432;
}
.cart{
    color: #000000;
}

/* smaller device navbar  */
@media screen and (max-width: 576px){
    .home,.cmn-color-nav {
        display: none;
    }
    .navbar img{
        width: 15%;
    }
    .navbar ul{
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }
}

/* banner styles  */
.banner-content-title{
    font-size:4.0625;
}
.banner{
    display: flex;
}

/* smaller device banner  */
@media screen and (max-width: 576px){
    .banner{
   flex-direction: column-reverse;
}
}

/* plant section styles */
.plants-content{
    text-align: center;
    max-width: 850px;
    margin: 50px auto;
}
.plants-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;
}
.plants-card{
    text-align: center;
}
.card-title{
    font-weight: 500;
    font-size: 1.375rem;
    color:#111111;
}
.card-price{
    font-weight: bold;
    font-size: 1.375rem;
    color:#111111;
}

/* smaller device plants section  */
@media screen and (max-width: 576px){
    .plants-card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .plants-card img{
        width: 95%;
    }
    .cmn-btn{
        padding: 15px 35px;
    }
}

/* plants-lover  */
.plants-lover{
    display: flex;
    margin-top:210px ;
    gap: 60px;
    position: relative;
}
.Plants-Lover-badge{
    width: 22%;
    position: absolute;
    top: -17%;
    left: 32%;
}
.Plants-Lover-content{
    margin: 40px 0;
}
.Plants-Lover-content li{
    margin-bottom:20px ;
}

/* smaller device plants-lover section  */
@media screen and (max-width: 576px){
    .plants-lover{
        margin-top: 50px;
        flex-direction: column;
    }
    .Plants-Lover-badge{
        display: none;
    }
}


/* join styles  */
.join{
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    padding:190px 0;
}
.join-title{
    text-align: center;
    color: white;
    margin: 15px;
}
.join-field{
    display: flex;
    align-items: center;
    justify-content: center;
}
.join input{
    color:rgba(0, 0, 0, 0.5) ;
    border: none;
    padding: 20px 460px 20px 20px;
}

/* smaller device join section  */
@media screen and (max-width: 576px){
    .join{
    background-position: top;
}
    .join input{
    padding: 15px 20px 15px 15px;
}
}


/* footer styles  */
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
}
.footer ul{
     display: grid;
    grid-template-columns: repeat(2,1fr);
     column-gap: 50px;
     row-gap: 32px;
}
.footer li{
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: #6B7280;
}

/* smaller device footer section  */
@media screen and (max-width: 576px){
    .footer{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
    .footer ul{
    grid-template-columns: repeat(1,1fr);
}
    .footer-logo{
        display: flex;
        gap: 25px;

} 
}